method: zsssl

data:
  kdat: /data/pelvis_dti_20250711_kdat_slice_021.h5
  navi: null
  slice_idx: 21
  coil: /data/pelvis_dti_20250711_coils.h5
  dvs: null # /data/pelvis_dti_20250711_dvs.h5
  normalize_kdat: 1.0  # important
  valid_rho: 0.2
  train_rho: 0.4
  repeats: 15
  batch_size: 1
  N_shot_retro: 0
  N_diff_split: 1
  N_diff_split_index: 0

model:
  net: ResNet2D
  N_residual_block: 12
  unrolled_algorithm: ADMM  # ADMM, MoDL, VarNet
  ADMM_rho: 0.05
  N_unroll: 10
  kernel_size: 3
  features: 128
  contrasts_in_channels: True  #
  max_cg_iter: 6
  lamda: 0.05
  requires_grad_lamda: True
  batch_norm: False

optim:
  method: Adam
  lr: 0.0005
  step_size: 30
  gamma: 0.1

loss: MixL1L2Loss

learn:
  epochs: 100
  valid_loss_tracker: 12

test: # only used when in the 'test' mode
  checkpoint: null