method: zsssl

data:
  # kdat: /data/1.0mm_21-dir_R1x3_kdat_slice_010.h5
  # navi: null
  # slice_idx: 10
  # coil: /data/1.0mm_21-dir_R1x3_coils.h5
  kdat: /data/0.7mm_21-dir_R2x2_vol3_scan1_kdat_slice_000.h5
  navi: null
  slice_idx: 0
  coil: /data/0.7mm_21-dir_R2x2_vol3_scan1_coils.h5
  normalize_kdat: 5.0  # important
  valid_rho: 0.2
  train_rho: 0.4
  repeats: 15
  batch_size: 1
  N_shot_retro: 0
  N_diff_split: 1
  N_diff_split_index: 0

model:
  net: ResNet2D
  complex_conv: False
  activation: ReLU # Softshrink, ReLU
  magn_activation: False
  N_residual_block: 12
  unrolled_algorithm: ADMM  # ADMM, MoDL, VarNet
  ADMM_rho: 0.05
  N_unroll: 12
  kernel_size: 3
  features: 128
  contrasts_in_channels: True  #
  max_cg_iter: 8
  lamda: 0.05
  requires_grad_lamda: True
  batch_norm: False
  phase_cycling: False
  use_muse_phase: False

optim:
  method: Adam
  lr: 0.0005
  step_size: 30
  gamma: 0.1

loss: MixL1L2Loss

learn:
  epochs: 100
  valid_loss_tracker: 12

test: # only used when in the 'test' mode
  checkpoint: null